<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="text/css" th:href="@{/common/css/style.css}">
    <link rel="stylesheet" href="text/css"
          th:each="cssFile : ${addCommonCss}"
          th:href="@{/common/css/{file}.css(file=${cssFile})}">

    <link rel="stylesheet" href="text/css" th:href="@{/front/css/style.css}">
    <link rel="stylesheet" href="text/css"
          th:each="cssFile : ${addCss}"
          th:href="@{/front/css/{file}.css(file=${cssFile})}">

    <th:block layout:fragment="addCss"></th:block>
    <!--레이어팝업-->
    <script th:src="@{/common/js/layer.js?v={v}(v=${siteConfig.cssJsVersion})}"></script>
    <script th:src="@{/common/js/common.js?v={v}(v=${siteConfig.cssJsVersion})}"></script>

    <th:block layout:fragment="addCommonScript"></th:block>
    <script th:each="jsFile : ${addCommonScript}"
            th:src="@{/common/js/{file}.js(file=${jsFile})}"></script>

    <th:block layout:fragment="addCommonScript"></th:block>

    <script th:src="@{/front/js/common.js}"></script>
    <script th:each="jsFile : ${addScript}"
            th:src="@{/front/js/{file}.js(file=${jsFile})}"></script>

    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
    <th:block th:if="${hide_header == null}">
    <header th:replace="~{front/outlines/header::common}"></header>
    </th:block>
    <main layout:fragment="content"></main>
    <th:block th:if="${hide_footer == null}">
    <footer th:replace="~{front/outlines/footer::common}"></footer>
    </th:block>
</body>

</html>