<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<th:block layout:fragment="addCommonScript">
    <th:block th:replace="~{common/_kakao_map_script::script}"></th:block>
</th:block>

    <section layout:fragment="content" class="layout_width">
        <input type="hidden" name="jsonData" th:value="${jsonData}">

        <!--디자인-->
        <div id="subContent">
            <div class="titleArea">
                <h2 id="pageTitle" class="titleH2">헌혈의집 찾기</h2>
            </div>

            <form th:replace="~{front/reservation/_center_search::form}"></form>

            <div id="center_map"></div>

            <!-- 검색 결과 리스트-->
            <h2 style="margin-top: 50px; margin-bottom: 15px; ">헌혈의집 목록</h2>
            <hr />
            <table class="table_rows" style="background: rgb(248, 240, 230); width: 100%;" >
                <thead>
                    <tr>
                        <th width="100">지역</th>
                        <th width="150">헌혈의집</th>
                        <th width="500">주소</th>
                        <th width="150">운영시간</th>
                        <th width="150">전화번호</th>
                        <th></th>       <!-- 상세보기/예약하기 버튼 -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${items == null || items.isEmpty()}">
                        <td colspan="6" class="no_data">조회된 센터가 없습니다.</td>
                    </tr>
                    <tr th:unless="${items == null || items.isEmpty()}" th:each="item : ${items}" th:object="${item}" th:data-address="*{address + (addressSub == null ? '' : ' ' + addressSub)}">
                        <td th:text="*{#strings.listSplit(address,' ')[0]}" align="center"></td>    <!--지역-->
                        <td class="move_map" th:text="*{cName}" align="center"></td>              <!--헌혈의집-->
                        <td class="move_map">
                            <th:block th:text="*{#strings.concat(address, ' ', addressSub)}"></th:block>
                        </td>
                        <td th:text="*{operHour}" align="center"></td>
                        <td th:text="*{telNum}" align="center"></td>
                        <td align="center">
                            <a th:href="@{/center/{cCode}(cCode=*{cCode})}">상세보기</a>
                            <a th:href="@{/center/{cCode}#reservation_box(cCode=*{cCode})}">예약하기</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이징 -->
        <th:block th:replace="~{common/_pagination::pagination}"></th:block>

        <script type="text/html" id="tpl">
                <div>
                    <a href="[url]" class="center_name">[cName]</a>
                    <div class="center_address">[address]</div>
                    <div class="center_tel">[telNum]</div>
                    <div class="center_operHour">[operHour]</div>
                </div>
        </script>
    </section>
</html>