<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<th:block layout:fragment="addCommonScript">
    <th:block th:replace="~{common/_kakao_map_script::script}"></th:block>
</th:block>

<section layout:fragment="content">
    <h2>헌혈의집 선택</h2>

    <!-- 필터링 검색 -->
    <form name="frmCenterChoice" method="get" th:action="@{/reservation/centerChoice}" autocomplete="off" th:object="${rCenterSearch}">
        <table class="table_cols mb30">
            <tr>
                <th>모두선택</th>
                <td>
                    <label for="chkAll">
                        <input type="checkbox" id="chkAll" name="chkAll" title="모두선택" value="Y"> "모두선택"
                    </label>
                </td>
            </tr>
            <tr>
                <th>운영정보 선택</th>
                <td>
                    <label for="opWkDay">
                        <input type="checkbox" id="opWkDay" value="Od1" title="평일"> "평일"
                    </label>
                    <label for="opWkend">
                        <input type="checkbox" id="opWkend" value="Od2" title="주말"> "주말"
                    </label>
                    <label for="opHldy">
                        <input type="checkbox" id="opHldy" value="Od3" title="공휴일"> "공휴일"
                    </label>
                     <label for="opExtn">
                        <input type="checkbox" id="opExtn" value="Od4" title="야간"> "18시 이후"
                    </label>
                </td>
            </tr>
            <tr>
                <th>지역 선택</th>
                <td>
                    <select title="시/도 선택" name="sido" class="select_area" data-target-id="sigugun">
                        <option value="">시/도</option>
                        <option th:each="sido : ${sidoList}" th:value="${sido}" th:text="${sido}"></option>
                    </select>
                    <select title="시/구/군 선택" name="sigugun" id="sigugun">
                        <option value="">시/구/군</option>
                    </select>

                </td>
            </tr>

            <tr>
                <th>키워드 입력</th>
                <td>
                    <div>
                        <input type="text" name="skey"  th:field="*{skey}" title="검색단어" placeholder="헌혈의집 이름 또는 헌혈의집 주소를 입력해주세요" maxlength="80">
                    </div>
                </td>
                <td>
                    <div class="search_btn">
                        <button type="submit" class="btn">검색</button>
                    </div>
                </td>
            </tr>

        </table>
    </form>

    <!-- 지도 표시 -->

    <!-- 검색 결과 리스트-->
    <form name="frmList" method="post" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="_method" value="PATCH">
        <table class="table_rows">
            <thead>
                <tr>
                    <th>지역</th>
                    <th>헌혈의집</th>
                    <th>주소</th>
                    <th>운영시간</th>
                    <th>전화번호</th>
                    <th></th>       <!-- 상세보기/예약하기 버튼 -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <a href="javascript:" class="" onclick="viewCenterInfo('')">상세보기</a>
                        <a href="javascript:" class="" onclick="bookCenter('')">예약하기</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- 페이징 -->
        <th:block th:replace="~{common/_pagination::pagination}"></th:block>
    </form>
</section>
</html>