<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<h1>예약 정보</h1>
<form>
    <fieldset>
        <ul>
            <li>예약자명:</li>

            <li>연락처:</li>

            <li>헌혈 종류:</li>

            <li>
                예약 센터명:    임시센터1  <button>상세보기</button>
            </li>

            <li>센터 주소:</li>

            <li>운영시간:</li>

            <li>센터 연락처:</li>

            <li>예약날짜 및 시간</li>
        </ul>

    </fieldset>
    <button>예약변경</button>
    <button>예약취소</button>
    <button>문진하기</button>

</form>
</html>