<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">
    <div class="survey">
        <div class="survey_txt_box">
            <h3>6.최근 1년 이내</h3>
            <p>
                입원, 수혈, 수술, 경련, 의식소실, 예방접종, 마약주사, 성접촉,
                다른 사람이 사용한 주사침에 찔림, 교도소, 구치소 등에 3일 이상
                수감 등 경험을 해당 기간 안에 하신 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail1" id="survey_detail1"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>7.기간에 관계없이</h3>
            <p>
                암, 심장질환, 신장질환, 간질환, 호흡기 질환, 혈액질환,당뇨병,
                피부질환(건선 등), 경련성질환, 장기이식, 자가면역질환(류마티즘 등),
                알코올 또는 마약 중독, 정신질환 등 같은 경험을 해당 기간 안에 하신 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail2" id="survey_detail2"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>8.헌혈금지 약물</h3>
            <p>
                건선치료제(에트레티네이트, 아시트레틴), 전립선치료제(두타스테라이드, 피나스테라이드)
                , 여드름치료제(이소트레티노인), 뇌하수체 유래 성장호르몬, 소에서 유래한 인슐린,
                탈모증 치료제(피나스테라이드) 등과 같은 약물을 복용 중이거나 기타 야굴을
                복용하고 있는 자는 아래 상세내용에 적어주시기 바랍니다.
            </p>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail3" id="survey_detail3"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>9.감염병</h3>
            <p>
                간염(B형, C형 등), 성병(임질,매독 등), 에이즈, 한센병, 말라리아, 샤가스병,
                브루셀라증, 바베시아증, 변종 크로이츠펠트-야콥병(vCJD) 등과 같은 감염병이거나
                기타 감염병이 있는 자는 아래의 상세내용에 적어주시기 바랍니다.
            </p>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail4" id="survey_detail4"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>10.말라리아</h3>
            <p>
                아래 사항 중 선택해 주세요.
            </p>
        </div>
        <input type="radio" name="" id="malaria_radio1">
        <label for="malaria_radio1">최근 1년 이내에 국내 말라리아 관련
        헌혈제한지역에서 1일 이상 숙박(거주 또는 군복무 포함)</label>
        <input type="radio" name="" id="malaria_radio2">
        <label for="malaria_radio2">최근 1년 이내에 국내 말라리아 관련
            헌혈제한지역에서 1일 이상 6개월 미만 숙박</label>
        <input type="radio" name="" id="malaria_radio3">
        <label for="malaria_radio3">최근 1년 이내에 국내 말라리아 관련
            헌혈제한지역에서 6개월 이상 거주 또는 군복무</label>
        <div>
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail5" id="survey_detail5"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>10.변종 크로이츠펠트-야콥병(vCJD)</h3>
            <p>
                아래 사항 중 선택해 주세요.
            </p>
        </div>
        <div>
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail5" id="survey_detail5"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_btn_area">
            <button type="button"><a th:href="@{/mypage/survey}">이전</a></button>
            <button type="button">다음</button>
        </div>
    </div>
</section>
</html>