<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">
    <div class="survey">
        <div class="survey_txt_box">
            <h3>1.최근 3일 이내</h3>
            <p>
                인후통, 발열, 설사 경험을 해당 기간 안에 하긴 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="yes" id="yes1" value="">
            <label for="yes1">예</label>
            <input type="radio" name="no" id="no1" value="">
            <label for="no1">아니요</label>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail1" id="survey_detail1"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>2.최근 1주일 이내</h3>
            <p>
                약물복용, 주사와 같은 경험을 해당 기간 안에 하긴 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="yes" id="yes2" value="">
            <label for="yes2">예</label>
            <input type="radio" name="no" id="no2" value="">
            <label for="no2">아니요</label>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail2" id="survey_detail2"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>3.최근 1개월 이내</h3>
            <p>
                반복적인 고열, 춥고 떨림, 땀흘림, 외국여행, 치과치료, 의료기관에서
                단순 감기 이외의 질병 진단 또는 치료, 시술(내시경, 조직검사, 레이저 시술)
                , 기타 경험을 해당 기간 안에 하긴 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="yes" id="yes3" value="">
            <label for="yes3">예</label>
            <input type="radio" name="no" id="no3" value="">
            <label for="no3">아니요</label>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail3" id="survey_detail3"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>4.최근 6개월 이내</h3>
            <p>
                임신, 분만, 유산 경험을 해당 기간 안에 하긴 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="yes" id="yes4" value="">
            <label for="yes4">예</label>
            <input type="radio" name="no" id="no4" value="">
            <label for="no4">아니요</label>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail4" id="survey_detail4"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>5.최근 6개월 이내</h3>
            <p>
                사마귀, 점제거, 피어싱(귀뚫음), 문신, 침술, 부항(사혈) 경험을 해당 기간 안에 하긴 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="yes" id="yes5" value="">
            <label for="yes5">예</label>
            <input type="radio" name="no" id="no5" value="">
            <label for="no5">아니요</label>
        </div>
        <div>
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail5" id="survey_detail5"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_btn_area">
            <button type="button"><a th:href="@{/mypage/survey}">이전</a></button>
            <button type="button"><a th:href="@{/mypage/dosurvey_last}">다음</a></button>
        </div>
    </div>
</section>
</html>