
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">
    <h1 th:text="#{개인정보_조회}"></h1>
    <!--변경은 로그인된 상태의 session이용-->
    <th:block th:object="${session.member}">
    <dl>
        <dt th:text="#{회원명}"></dt>
        <dd th:text="*{mName}"></dd>
    </dl>
    <dl>
        <dt th:text="#{아이디}"></dt>
        <dd th:text="*{userId}"></dd>
    </dl>
    <dl>
        <dt th:text="#{이메일}"></dt>
        <dd th:text="*{email}"></dd>
    </dl>

    <!--혈액형하고, 전화번호는 회원가입할때는 필요없는 항목이라, 개인정보변경에서 입력한
    혈액형과 전화번호는 따로 관리해서 null이 아니면 조회페이지에서 볼 수 있게 해야됨-->
    <dl>
        <dt th:text="#{혈액형}"></dt>
        <dd></dd>
    </dl>
    <dl>
        <dt th:text="#{전화번호}"></dt>
        <dd></dd>
    </dl>
    <dl>
        <dt th:text="#{주소}"></dt>
        <dd>
            <th:block th:if="*{!#strings.isEmpty(zonecode)}" th:text="*{'(' + zonecode+ ')'}"></th:block>
            <th:block th:text="*{address}"></th:block>
            <th:block th:text="*{addressSub}"></th:block>
        </dd>
    </dl>
    </th:block>
</section>
</html>