<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">
    <h1 th:text="#{개인정보_변경}"></h1>

    <form name="frmSave" method="post" th:action="@{/mypage/modify}" autocomplete="off">
        <dl>
            <dt th:text="#{회원명}"></dt>
            <dd>
                <input type="text" name="name">
            </dd>
        </dl>
    </form>
</section>
</html>