<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">
    <h1 th:text="#{예약조회}"></h1>
    <form name="frmSearch" method="get" th:action="@{/mypage/reservation}" autocomplete="off"
          <!--th:object="${예-reservationSearch}"-->
        <table class="table_cols">
            <tr>
                <th>예약조회</th>
                <td>
                    <input type="date" name="dateres" id="datestart">
                    ~
                    <input type="date" name="dateres" id="dateend">
                </td>
            </tr>
        </table>
        <div class="search_btn">
            <button id="ressearchbtn" type="submit" style="background: #fff; color: black; width: 100px; font-weight: bold; height: 40px; float: right;
 margin-bottom: 20px;">검색하기</button>
        </div>
    </form>
    <table border="1"
    width="1200px;"
    height="500px"
    bordercolor="red;"
    bgcolor="#fff">
      <thead>
        <tr align="center">
            <th>예약일시</th>
            <th>헌혈종류</th>
            <th>예약장소</th>
            <th>예약자전화번호</th>
            <th>전자문진 여부</th>
            <th>예약</th>
        </tr>
      </thead>
        <tbody>
            <tr align="center">
               <td>예약일시-날짜,시간</td>
                <td>헌혈종류</td>
                <td>예약장소</td>
                <td>
                    <input type="text" name="tel" id="tel" readonly>
                </td>
                <td>
                    <button type="button"><a th:href="@{/mypage/survey}">전자문진_하러가기</button>
                </td>
                <td>
                    <button type="button"><a th:href="@{/mypage/reservation/modify}">변경</a></button>
                    <button type="button">취소</button>
                </td>
            </tr>
        </tbody>
    </table>

</section>
</html>