<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">

    <div>
        <h3>센터가 예약되었습니다</h3>
        <ul>
            <li>
                주소: <!--<span th:value="${session.reservation?.centeraddress}">
                </span> 센터주소랑 회원주소랑 address이름이 같음 수정필요-->
            </li>
        </ul>
    </div>
    <h3>예약날짜를 선택해주세요</h3>
    <!-- 달력출력-->
    <h3>예약시간 및 헌혈종류를 선택해주세요</h3>
    <!-- 날짜테이블과 헌혈종류 라디오버튼으로 변경가능하게 선택하는 테이블 -->
    <table class="myresmodify">
        <thead>
            <tr>
                <th>시간</th>
                <th>9:00</th>
                <th>9:30</th>
                <th>10:00</th>
                <th>10:30</th>
                </tr>
            <tr>
                <th>시간</th>
                <th>11:00</th>
                <th>11:30</th>
                <th>13:00</th>
                <th>13:30</th>
            </tr>
            <tr>
                <th>시간</th>
                <th>14:00</th>
                <th>14:30</th>
                <th>15:00</th>
                <th>15:30</th>
            <tr>
            <tr>
                <th>시간</th>
                <th>16:00</th>
                <th>16:30</th>
                <th>17:00</th>
                <th>17:30</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>헌혈 종류 선택</td>
                <td>
                    <p>
                    <input type="radio" name="bookType" id="bookTypeAll1" value="TYPE_ALL">
                    <label for="bookTypeAll1" >전혈</label>
                    </p>
                    <p>
                    <input type="radio" name="bookType" id="bookType1_1" value="TYPE_A">
                    <label for="bookType1_1" >혈장</label>
                    </p>
                    <p>
                    <input type="radio" name="bookType" id="bookType1_2" value="TYPE_B">
                    <label for="bookType1_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll2" value="TYPE_ALL">
                        <label for="bookTypeAll2" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType2_1" value="TYPE_A">
                        <label for="bookType2_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType2_2" value="TYPE_B">
                        <label for="bookType2_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll3" value="TYPE_ALL">
                        <label for="bookTypeAll3" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType3_1" value="TYPE_A">
                        <label for="bookType3_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType3_2" value="TYPE_B">
                        <label for="bookType3_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll4" value="전혈">
                        <label for="bookTypeAll4" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType4_1" value="혈장">
                        <label for="bookType4_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType4_2" value="혈소판">
                        <label for="bookType4_2" >혈소판</label>
                    </p>
                </td>
                </tr>
            <tr>
                <td>헌혈 종류 선택</td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll5" value="전혈">
                        <label for="bookTypeAll5" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType5_1" value="혈장">
                        <label for="bookType5_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType5_2" value="혈소판">
                        <label for="bookType5_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll6" value="전혈">
                        <label for="bookTypeAll6" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType6_1" value="혈장">
                        <label for="bookType6_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType6_2" value="혈소판">
                        <label for="bookType6_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll7" value="전혈">
                        <label for="bookTypeAll7" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType7_1" value="혈장">
                        <label for="bookType7_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType7_2" value="혈소판">
                        <label for="bookType7_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll8" value="전혈">
                        <label for="bookTypeAll8" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType8_1" value="혈장">
                        <label for="bookType8_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType8_2" value="혈소판">
                        <label for="bookType8_2" >혈소판</label>
                    </p>
                </td>
                </tr>
            <tr>
                <td>헌혈 종류 선택</td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll9" value="전혈">
                        <label for="bookTypeAll9" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType9_1" value="혈장">
                        <label for="bookType9_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType9_2" value="혈소판">
                        <label for="bookType9_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll10" value="전혈">
                        <label for="bookTypeAll10" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType10_1" value="혈장">
                        <label for="bookType10_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType10_2" value="혈소판">
                        <label for="bookType10_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll11" value="전혈">
                        <label for="bookTypeAll11" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType11_1" value="혈장">
                        <label for="bookType11_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType11_2" value="혈소판">
                        <label for="bookType11_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll12" value="전혈">
                        <label for="bookTypeAll12" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType12_1" value="혈장">
                        <label for="bookType12_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType12_2" value="혈소판">
                        <label for="bookType12_2" >혈소판</label>
                    </p>
                </td>
                </tr>
            <tr>
                <td>헌혈 종류 선택</td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll13" value="전혈">
                        <label for="bookTypeAll13" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType13_1" value="혈장">
                        <label for="bookType13_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType13_2" value="혈소판">
                        <label for="bookType13_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll14" value="전혈">
                        <label for="bookTypeAll14" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType14_1" value="혈장">
                        <label for="bookType14_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType14_2" value="혈소판">
                        <label for="bookType14_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll15" value="전혈">
                        <label for="bookTypeAll15" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType15_1" value="혈장">
                        <label for="bookType15_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType15_2" value="혈소판">
                        <label for="bookType15_2" >혈소판</label>
                    </p>
                </td>
                <td>
                    <p>
                        <input type="radio" name="bookType" id="bookTypeAll16" value="전혈">
                        <label for="bookTypeAll16" >전혈</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType16_1" value="혈장">
                        <label for="bookType16_1" >혈장</label>
                    </p>
                    <p>
                        <input type="radio" name="bookType" id="bookType16_2" value="혈소판">
                        <label for="bookType16_2" >혈소판</label>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>개인정보입력</h3>
    <div>
        <h5>개인정보를 확인해주세요</h5>
        <ul>
            <li>
                <span>이름</span><!--${session.member.mName}-->
                <span th:value="#{mName}"></span>
            </li>
        </ul>
        <p>
            <span>전화번호</span><!--${session.tel} tel은 엔티티쪽에서 관리되는게 아니라 엔티티추가가 좋을 듯-->
            <input type="text" name="tel" id="tel" th:value="#{tel}">
        </p>
    </div>
    <button>예약변경</button>
</section>
</html>