/*웹폰트*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    box-sizing: border-box;
    outline: none;
}

form {
    display:block;
    margin-top: 0em;
}

html {
    font-size: 13px;
    color: #222;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.table-cols td {
    background: #fff;
    padding: 15px 20px;
    font-size: 13px;
}
.table-cols th, .table-cols td {
    border-bottom: 1px solid #d5d5d5;
    color: #222222;
}


사용자 에이전트 스타일시트
td {
    display: table-cell;
    vertical-align: inherit;
}

input[type="date" i] {
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0px;
}
사용자 에이전트 스타일시트
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
사용자 에이전트 스타일시트
input {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}