/*웹폰트*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    box-sizing: border-box;
    outline: none;
}

form {
    display:block;
    margin-top: 0em;
}

html {
    font-size: 13px;
    color: #222;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.table-cols td {
    background: #fff;
    padding: 15px 20px;
    font-size: 13px;
}
.table-cols th, .table-cols td {
    border-bottom: 1px solid #d5d5d5;
    color: #222222;
}


td {
    display: table-cell;
    vertical-align: inherit;
}

input[type="date" i] {
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

input {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

/* 회원목록 */
.content_box {
    background: #fff;
    padding: 50px;
}
* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Nanum Gothic', sans-serif;
}
.scroll_x {
    width: calc(100% - 1px);
    overflow-x: auto;
}

div {
    display: block;
}
html {
    font-size: 13px;
    color: #222;
}

form {
    display: block;
    margin-top: 0em;
    border: 1px solid #ccc;
}
.table-rows tbody td {
    color: #222222;
    font-size: 13px;
    padding: 15px 10px;
}
.table-rows th, .table-rows td {
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.btn4, .sbtn {
    border: 1px solid #727272;
    display: inline-block;
    border-radius: 5px;
    min-width: 93px;
    text-align: center;
    padding: 5px 15px 6px;
    cursor: pointer;
    font-size: 12px;
    background: #fff;
}
a {
    color: #222;
    text-decoration: none;
}

.btn4 i, .sbtn i {
    vertical-align: middle;
    font-size: 13px;
    margin-right: 7px;
}
a.sbtn{
    font: 12px;
    color: #222222;
    background: #ffffff
    padding: 5px 15px 6px;
}
