.layout_width { max-width: 1200px; min-width: 1000px; margin: 0 auto; margin-top: 150px;
}

main { min-height: 700px;
 }

*{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
     text-decoration: none;
}


 h1 a{
        color: red; font-size: 46px;
        font-weight: 400;

        }


body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;


.form-box h1{
    top: 0;
    font-size: 3.5em;
    color: RED;
    margin-left: 360px;
}


.input-box{
    position: relative;
    width: 350px;
    height: 30px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
    margin-left: 300px;
    margin-top: 138px;

}
.input-box2{
    position: relative;
    width: 350px;
    height: 30px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
    margin-left: 300px;
    margin-top: 50px;

}
#zonecode{
    margin-left:-2px;
}

/*클릭 아이디 비번*/
.input-box label{
  position: absolute;
  top: -42%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.8em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  padding-bottom: 20px;




}

.input-box input:focus~label,
.input-box input:valid~label{

  top: -3px;
}

/*입력창*/
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
    margin-top:10px;
    margin-top:5px;

}
.input-box2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
    margin:-16px 0 -1px 0;

}

/*아이콘*/
.input-box .icon{
    position: absolute;
    right: 3px;
    font-size: 20px;
    color: #162938;
    line-height: 27px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: 370px;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
    font-size: 50px;
}


.remember-forgot a{
    color: #162938;
    text-decoration: none;


}
.remember-forgot a:hover{
    text-decoration: underline;
}

.login-btn{
    margin-top: 10px;
    margin-left: 380px;
       width: 20%;
       height: 50px;
       background: #162938;
       border: none;
       outline: none;
       border-radius: 6px;
       cursor: pointer;
       font-size: 1em;
       color: #fff;
       font-weight: 500;

}


.login-register{

    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 25px ;
    margin-left: 340px;
    font-size: 16px;


}



.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;


}

.login-register p a:hover{
    text-decoration: underline;
}


/*---------------회원가입--------------------*/
.terms_agree{
    padding: 10px;
    left: 0;

}

.terms_contents {
    width: 1000px;
    height: 30vh;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;

}

.terms_tit{
    margin-left: 6px;
    margin-bottom: 5px;
}

.terms-button{
      margin-top: 50px;
      margin-bottom: 100px;
       height: 50px;
       width: 200px;
       margin-left: 400px;
       background: #fff;
       color: black;
       font-size: 16px;
       font-weight: bold;
       border-radius: 50px;
        cursor: pointer;
}

button { cursor: pointer; }

.error{
        margin-left:300px;
        font-size: 15px;
        color: red;
        }

#auth_count{
    font-size:15px;
}

