<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>회원 수정</h1>
    <form name="frmSave" id="frmJoin" class="form_box" method="post" th:action="@{/admin/member/save}" autocomplete="off" th:object="${requestUpdate}">



            <dl>
                <dt>가입구분</dt>
                <dd>
                    <input type="checkbox" name="authorities" th:value="USER" id="managerType_USER" checked>
                    <label for="managerType_USER" th:text="#{Authority.USER}"></label>

                    <input type="checkbox" name="authorities" th:value="MANAGER" id="managerType_MANAGER" checked>
                    <label for="managerType_MANAGER" th:text="#{Authority.MANAGER}"></label>

                    <input type="checkbox" name="authorities" th:value="ADMIN" id="managerType_ADMIN" checked>
                    <label for="managerType_ADMIN" th:text="#{Authority.ADMIN}"></label>
                </dd>
            </dl>

            <dl>
                <dt>아이디</dt>
                <dd>
                    <input type="hidden" name="userId" th:field="*{userId}">
                    <th:block th:text="*{userId}"></th:block>
                </dd>
            </dl>

            <dl>
                <dt>이메일</dt>
                <dd>
                    <input type="text" name="email" th:field="*{email}">
                </dd>
            </dl>

            <button type="button" id="changePw" class="sbtn mt30 mb30">비밀번호 변경하기</button>

            <!--비밀번호 변경-->
            <dl class="password_box dn">
                <dt>변경 비밀번호</dt>
                <dd>
                    <input type="password" name="userPw" th:field="*{userPw}">
                </dd>
            </dl>
            <dl class="password_box dn">
                <dt>비밀번호 확인</dt>
                <dd>
                    <input type="password" name="confirmPw"  th:field="*{confirmPw}">
                </dd>
            </dl>


            <!--약관동의-->
            <div class="terms mt30">
                <h2 class="mb10">약관동의</h2>
                <div class="terms_tit">
                    <input type="checkbox" id="check_all" checked>
                    <label for="check_all">모든 약관을 확인하고 전체 동이합니다.</label>
                </div>

                <div class="terms_tit mb10">
                    <input type="checkbox" class="check" name="userTerms" value="y" id="useTerms" checked>
                    <label for="useTerms">이용약관(필수)</label>
                </div>

                <textarea class="terms_contents" readonly>이용약관</textarea>
                <div class="terms_tit mt10 mb10">
                    <input type="checkbox" name="privateTerms" class="check" value="y" id="privateTerms" checked>
                    <label for="privateTerms">개인정보처리방침(필수)</label>
                </div>
                <textarea class="terms_contents" readonly>
고객님의 개인정보를 중요시하며, &quot;정보통신망 이용촉진 및 정보보호&quot;에 관한 법률을 준수하고 있습니다.

회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.


회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.

  ■ 수집하는 개인정보 항목

회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.


   ο 수집항목 : 이름 , 생년월일 , 성별 , 로그인id , 비밀번호 , 비밀번호 질문과 답변 , 이메일 , 서비스 이용기록 , 접속 로그 , 쿠키 , 접속 ip 정보 , 결제기록
   ο 개인정보 수집방법 : 홈페이지(회원가입,게시판)

    ■ 개인정보의 수집 및 이용목적

회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다..

ο 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
콘텐츠 제공
ο 회원 관리
회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불량회원의 부정 이용 방지와 비인가 사용 방지 , 가입 의사 확인 , 연령확인 , 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인
ο 마케팅 및 광고에 활용
접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계

■ 개인정보의 보유 및 이용기간

원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.


보존 항목 : 로그인id
보존 근거 : 신용정보의 이용 및 보호에 관한 법률
보존 기간 : 3년

표시/광고에 관한 기록 : 6개월 (전자상거래등에서의 소비자보호에 관한 법률)
계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)
신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률)
                </textarea>

            </div>

        <div class="submit_btns">
            <button type="reset" class="btn">다시입력</button>
            <button type="submit" class="btn">수정하기</button>
        </div>
    </form>






</section>
</html>