<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>회원 목록</h1>
    <table border="1"
           width="200%"
           height="100"
           bordercolor="white"
           bgcolor="#87cefa">
        <thead>
        <tr height="40" align="center">
            <th>회원명</th>
            <th>가입일시</th>
            <th>아이디</th>
            <th>비밀번호</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center">
            <td>회원명적기</td>
            <td>가입일시작성</td>
            <td>아이디수정</td>
            <td>비밀번호수정</td>
        </tr>
        </tbody>
    </table>



</section>
</html>