<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>기본설정</h1>
    <form name="frmSave" method="post" th:action="@{/admin/member/save_member}" autocomplete="off">
        <!--양식공유-->
        <th:block th:replace="~{admin/member/_form_member::form}"></th:block>

        <div class="submit_btn">
            <button type="reset" class="btn">다시입력</button>
            <button type="submit" class="btn">등록하기</button>
        </div>
    </form>

</section>
</html>