.layout_width { max-width: 1200px; min-width: 1000px; margin: auto; margin-top: 100px; box-shadow: 0 10px 10px rgb(0,0,0, 0.1);

  }




.subContent { position: relative; float:left; padding-bottom: 1rem; width: calc(100% - 14rem); }


.titleArea { position:relative; margin-bottom: 3rem;}

.titleArea::after { position: absolute; bottom: 0;  width: 13rem; height: 2px; background: #f42e3d; content: ""; margin-left: 10px; }

.titleH2 { position: relative; padding: 0.95rem 0; width: calc(100% - 8rem); font-size: 1.8rem; color: #000; font-weight: bolder; margin-left: 20px;}


.titleArea { margin-bottom: 3rem; }





.table_terms {
           border-spacing: 0;
           width: 100%;
           border-top: 2px solid #e6e6e6;
           background: #fff;
           height: 300px;
           font-size: 16px;
           line-height: 100px;




}

/*표 밑줄 */
.table_terms td.table_terms th{
    border-bottom: 1px solid #e6e6e6;
    color: black;

}

/*
.table_terms th {
    border-bottom: 1px solid #e6e6e6;
*/

    }

input{
margin-left: 40px;
}

select{
margin-left: 30px;
}

.btn{
 width: 100px;
 height: 40px;
 background: #fff;
 color: black;
 margin: 20px;
 cursor: pointer;
}


.year_month { text-align: center; margin-bottom: 15px; }
.year_month .current { font-weight: 700; font-size: 2rem; line-height: 1; }
.year_month a { display: inline-block; vertical-align: center; padding: 0 10px; font-size: 1.2rem; line-height: 1; }
.year_month a:hover { a:text-decoration: underline; }

.yoils { border: 1px solid #ccc; border-bottom: 1px solid #222; font-size: 2rem; font-weight: 500; display: flex; width: 100%;  }
.yoils > li { width: 0; flex-grow: 1; padding: 10px; text-align: center; }
.yoils li + li { border-left: 1px solid #ccc; }
.days { border: 1px solid #ccc; border-top: 0; display: flex; width: 100%; flex-wrap: wrap; flex-grow: 1;  }
.days li { width: calc(100% / 7); font-size: 0.8rem;  height: 100px; }
.days li + li { border-left: 1px solid #ccc; border-top: 1px solid #ccc;}
.days li:nth-of-type(7n+1) { color: red; }
.days li:nth-of-type(7n) { color: blue; }

.days input[type='radio'] { display: none; }
.days input[type='radio']+label { display: block; text-align: center; font-size: 2rem; font-weight: 500; cursor: pointer; line-height: 98px; }
.days input[type='radio']:checked+label { background: #222; color: #fff;  }