#subContent { position: relative; float:left; padding-left:3.5rem; padding-bottom: 1rem; width: calc(100% - 14rem); }


.titleArea { position:relative; margin-bottom: 3rem;}

.titleArea::after { position: absolute; bottom: 0; left: 0; width: 13rem; height: 2px; background: #f42e3d; content: ""; }

.titleH2 { position: relative; display: inline-block; padding: 0.95rem 0; width: calc(100% - 8rem); font-size: 1.5rem; color: #000; font-weight: 700; }


.titleArea { margin-bottom: 2rem; }



/*---------------step box---------------------------*/
.step_box { position: relative; width: 50%; margin-bottom: 3.5rem; }

.step_box ul { display: table; table-layout: fixed; width: 100%; background: rgb(227, 247, 115); border: 2px solid yellow; border-radius: 2rem; padding: 0.5rem 0.7rem; font-size: 12px; }

/*가운데 정렬*/
.step_box li { position: relative; display: table-cell; text-align: center; padding: 0 0.9rem; }

/*화살표 */
.step_box li::before { position: absolute; top: 50%; right: -0.5rem; transform: translateY(-50%);  font-size: 1.5rem; color: #e5c088; font-weight: 800; content: "\e940"; }


/*흰색박스 크기*/
.step_box li p { display: block; position: relative; min-height: 4.6rem; display: flex; flex-direction: column; justify-content: center; padding: 0.5rem 0;}



.step_box li span { color: #222; font-size: 1rem; font-weight: 700; line-height:1.2rem; }

.step_box li span em { color: #f42e3d; }


/*흰색박스 크기*/
/* 헌혈예약 : on */
.step_box li.on p { width: 160px; background: #fff; border-radius: 2rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  }



/* ----------헌혈예약이란------------------------ */
.title1-container{
    width: 50%;
    height: 100%;
    border: 2px solid yellow;
    border-radius: 2rem;
    background:#f5f3f3;
    padding-left: 32px;
}

.tit1 {padding-left:32px; font-size:20px; line-height:1.6; font-family:"NanumSquareB"; color:#111; }

.box_st3 { padding: 0.5rem; }

.title2-container{
    margin-top: 50px;
    width: 50%;
    height: 100%;
    border: 2px solid yellow;
    border-radius: 2rem;
    background:#f5f3f3;
}


.tit2{padding-left:32px;}
.tit3{padding-left:32px; font-size:20px; line-height:1.6; font-family:"NanumSquareB"; color:#111; padding-top: 50px;}


.list_st1 > li { font-size:1rem; color: #444; }

.list_st2 > li { font-size:1rem; color: #666; }

.list_st3>li, .list_st4 > li { font-size:1rem; list-style: none; margin: 10px; }