<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{회원가입}"></h1>

    <form name="frmJoin" method="post" th:action="@{/member/join}" autocomplete="off" th:object="${requestJoin}">
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <!--에러페이지-->
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <dl>
            <dt th:text="#{이메일}"></dt>
            <dd>
                <input type="text" name="email" th:field="*{email}">
                <button type="submit" th:text="#{인증하기}"></button>
                <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                <input type="text" name="ecode" th:field="*{ecode}" value="인증번호 입력">
                <!--제한시간 3분 ?-->
                <button type="submit" th:text="#{확인}"></button>
                <button type="submit" th:text="#{재전송}"></button>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <input type="text" name="userId" th:field="*{userId}">
                <div class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="userPw" th:field="*{userPw}">
                <div class="error" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{비밀번호_확인}"></dt>
            <dd>
                <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
                <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{회원명}"></dt>
            <dd>
                <input type="text" name="mName" th:field="*{mName}">
                <div class="error" th:each="err : ${#fields.errors('mName')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{주소}"></dt>
            <dd>
                <input type="text" name="zonecode" th:field="*{zonecode}" placeholder="우편번호" readonly>
                <button type="button" class="search_address" th:text="#{주소_찾기}"></button>
                <input type="text" name="address" th:field="*{address}" placeholder="주소" readonly>
                <input type="text" name="addressSub" th:field="*{addressSub}" placeholder="나머지 주소">
            </dd>
        </dl>


        <!--약관은 자리만 만들고 관리자 페이지에서 추가해줄거임-->
        <div th:text="#{회원가입_약관}"></div>
        <div class="terms">약관</div>
        <div class="terms_agree">
            <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
            <label for="agree" th:text="#{회원가입_약관에_동의합니다.}"></label>
            <div class="error" th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
        </div>

        <button type="submit" th:text="#{가입하기}"></button>





    </form>
</main>
</html>