기존 로그인




<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<th:block layout:fragment="addCommonScript">
    <!-- BOOTSTRAP CARD -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <!-- BOOTSTRAP CARD -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</th:block>

<main layout:fragment="content" class="layout_width">
    <h1 th:text="#{로그인}"></h1>
    <form name="frmLogin" method="post" th:action="@{/member/login}" autocomplete="off">
        <!--로그인 성공시 이동 페이지 ( param으로 주소값을 따로 주면 그 주소로이동함!)-->
        <input type="hidden" name="redirectURL"
               th:if="${param.redirectURL != null}" th:value="${param.redirectURL}">
        <!--스프링 시큐리티가 처리하므로 주소만 알려주면됨-->
        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <input type="text" name="userId" th:value="${session.userId}">
                <div class="error" th:if="${session.NotBlank_userId != null}"
                     th:text="${session.NotBlank_userId}">
                </div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="userPw">
                <div class="error" th:if="${session.NotBlank_userPw != null}"
                     th:text="${session.NotBlank_userPw}">
                </div>
            </dd>
            <a th:href="@{/member/find_pw}" th:text="#{비밀번호_찾기}"></a>
        </dl>
        <button type="submit" th:text="#{로그인}"></button>

        <div class="error" th:if="${session.Global_error != null}" th:text="${session.Global_error}">

        </div>
    </form>
</main>
</html>