<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">
    <form name="frmSurvey" method="post" th:action="@{/survey/apply}">
    <div class="survey">
        <div class="survey_txt_box">
            <h3>6.최근 1년 이내</h3>
            <p>
                입원, 수혈, 수술, 경련, 의식소실, 예방접종, 마약주사, 성접촉,
                다른 사람이 사용한 주사침에 찔림, 교도소, 구치소 등에 3일 이상
                수감 등 경험을 해당 기간 안에 하신 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="questions2[5]" id="item6_true" value="true">
            <label for="item6_true">예</label>
            <input type="radio" name="questions2[5]" id="item6_false" value="false">
            <label for="item6_false">아니요</label>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail6" id="survey_detail6"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>7.기간에 관계없이</h3>
            <p>
                암, 심장질환, 신장질환, 간질환, 호흡기 질환, 혈액질환,당뇨병,
                피부질환(건선 등), 경련성질환, 장기이식, 자가면역질환(류마티즘 등),
                알코올 또는 마약 중독, 정신질환 등 같은 경험을 해당 기간 안에 하신 분 중 일부는 일정기간 동안 헌혈
                할 수 없습니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="questions2[6]" id="item7_true" value="true">
            <label for="item7_true">예</label>
            <input type="radio" name="questions2[6]" id="item7_false" value="false">
            <label for="item7_false">아니요</label>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail7" id="survey_detail7"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>8.헌혈금지 약물</h3>
            <p>
                건선치료제(에트레티네이트, 아시트레틴), 전립선치료제(두타스테라이드, 피나스테라이드)
                , 여드름치료제(이소트레티노인), 뇌하수체 유래 성장호르몬, 소에서 유래한 인슐린,
                탈모증 치료제(피나스테라이드) 등과 같은 약물을 복용 중이거나 기타 약물을
                복용하고 있는 자는 아래 상세내용에 적어주시기 바랍니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="questions2[7]" id="item8_true" value="true">
            <label for="item8_true">예</label>
            <input type="radio" name="questions2[7]" id="item8_false" value="false">
            <label for="item8_false">아니요</label>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail8" id="survey_detail8"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>9.감염병</h3>
            <p>
                간염(B형, C형 등), 성병(임질,매독 등), 에이즈, 한센병, 말라리아, 샤가스병,
                브루셀라증, 바베시아증, 변종 크로이츠펠트-야콥병(vCJD) 등과 같은 감염병이거나
                기타 감염병이 있는 자는 아래의 상세내용에 적어주시기 바랍니다.
            </p>
            <p>
                위의 내용에 해당이 되시면 "예"를, 관련 경험이 없다면 "아니요"에 체크해주세요.
            </p>
            <input type="radio" name="questions2[8]" id="item9_true" value="true">
            <label for="item9_true">예</label>
            <input type="radio" name="questions2[8]" id="item9_false" value="false">
            <label for="item9_false">아니요</label>
        </div>
        <div class="survey_btm">
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail9" id="survey_detail9"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>10.말라리아</h3>
            <p>
                아래 사항 중 선택해 주세요.
            </p>
        </div>
        <input type="radio" name="questions2[9]" id="item10_false" value="false">
        <label for="item10_false">아니요</label>
        <input type="radio" name="questions2[9]" id="item10_true1" value="true">
        <label for="item10_true1">최근 1년 이내에 국내 말라리아 관련
            헌혈제한지역에서 1일 이상 숙박(거주 또는 군복무 포함)</label>
        <input type="radio" name="questions2[9]" id="item10_true2" value="true">
        <label for="item10_true2">최근 1년 이내에 국내 말라리아 관련
            헌혈제한지역에서 1일 이상 6개월 미만 숙박</label>
        <input type="radio" name="questions2[9]" id="item10_true3" value="true">
        <label for="item10_true3">최근 1년 이내에 국내 말라리아 관련
            헌혈제한지역에서 6개월 이상 거주 또는 군복무</label>

        <div>
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail10" id="survey_detail10"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_txt_box">
            <h3>11.변종 크로이츠펠트-야콥병(vCJD)</h3>
            <p>
                아래 사항 중 선택해 주세요.
            </p>
        </div>

        <input type="radio" name="questions2[10]" id="item11_false" value="false">
        <label for="item11_false">아니요</label>
        <input type="radio" name="questions2[10]" id="item11_true1" value="true">
        <label for="item11_true1">1980년~1996년까지 1개월 이상 "영국" 거주/방문/여행</label>
        <input type="radio" name="questions2[10]" id="item11_true2" value="true">
        <label for="item11_true2">1997년~현재까지 3개월 이상 "영국" 거주/방문/여행</label>
        <input type="radio" name="questions2[10]" id="item11_true3" value="true">
        <label for="item11_true3">1980년~현재까지 5년 이상 "유럽국가" 거주/방문/여행</label>
        <input type="radio" name="questions2[10]" id="item11_true4" value="true">
        <label for="item11_true4">1980년 이후 "영국, 프랑스"에서의 수혈</label>

        <div>
            <textarea class="survey_btm" title="상세내용입력" name="survey_detail11" id="survey_detail11"
                      placeholder="상세내용을 입력해주세요" disabled="disabled"></textarea>
        </div>
        <div class="survey_btn_area">
            <button type="button"><a th:href="@{/survey/step1}">이전</a></button>
            <button type="submit">완료</button>
        </div>
    </div>
    </form>
</section>
</html>