

header .site_top {background : #b82780; height : 100px; }
a {text-decoration: none;}



/*--------------------------------------------------------------
#banner
--------------------------------------------------------------*/

    .main-banner-container{
          width: 90%;
          margin:auto;
          margin-bottom: 200px;

        }

        .swiper {
          width: 100%;
          height: 800px;
          border-radius: 5% 5% 5% 5%;
          /*box-sizing: border-box;*/
          margin-bottom: 65px;

        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

        }

        .swiper-slide img {
          display: block;
          width: 100%;
         height: 800px;
         background-position: center center;
         background-size: cover;
          /*object-fit: cover;*/

        }
/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: red;

}


li{
  list-style-type: none;
}




/*--------------------------------------------------------------
# card
--------------------------------------------------------------*/

.text-center .card{
            width: 150px;
            height: 120px;
            border: 5px solid rgba(229, 46, 64, 0.452);
            border-radius: 50px;
            box-shadow: 0 0 5px rgba(207, 27, 177, 0.521);
            margin: 1rem;
            margin-top: 600px;
            margin-left: 80px;


        }


.text-center .card-text{
            font-size: 15px;
            color: rgb(117, 111, 111);
        }


.text-center .card-title{
         font-size: 18px;
         font-weight: 600;
         color: rgb(236, 97, 120);
         text-align: center;
     }

.text-center .card-text{
         font-size: 15px;
         color: rgb(117, 111, 111);
     }



.text-center .card img { width: 10% !important; display: block; margin: 0 auto; height:100px; margin-top:15px;}

/*-------------bottom card------------------*/

.text-center2 .card2{
            width: 15rem;
            border: 5px solid rgba(229, 46, 64, 0.452);
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(207, 27, 177, 0.521);
            margin: 1rem;
            margin-top: 200px;
            margin-left: 40px;
            height: 200px;

        }


.text-center2 .card-text2{
            font-size: 15px;
            color: rgb(117, 111, 111);
        }


.text-center2 .card-title2{
         padding-top: 30px;
         font-size: 18px;
         font-weight: 600;
         color: rgb(236, 97, 120);
         text-align: center;
     }

.text-center2 .card-text{
         font-size: 15px;
         color: rgb(117, 111, 111);
     }



.text-center .card img { width: 50% !important; display: block; margin: 0 auto; height:150px; margin-top:15px; text-align: center;}



/*--------------------------------------------------------------
# 혈액 보유량
--------------------------------------------------------------*/

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  background-color: white;
  width: 150px;
  height: 20px;
  border-radius: 50px;

}

::-webkit-progress-value {
  background-color: red;
  width: 150px;
  height: 20px;
  border-radius: 50px;


}

h1{ text-align: center;}

        /* 오늘의 혈액보유량 */
.blood_notice {
    position: absolute;
    top: auto;
    right: auto;
    width: 100%;
    height: auto;
    border: 3px solid rgba(229, 46, 64, 0.452);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/*함께 만다는 즐거운 헌혈*/

/*카드위 배경*/
.blood_notice dt::before { position: absolute; left: 0; top: 0; width: 100%; height: calc(100% + 1rem); background: #f42e3d; z-index: -1; content: ""; border-radius: 30px; }
.blood_notice dt strong { font-size: 1.35rem; font-weight: 700; }


/*적혈구*/
.blood_notice .titTab li { display: inline-block; float: left;  }
.blood_notice .titTab li a {  display: block; font-size: 2.5rem; color: #777;  line-height: 2.8rem; padding: 0 2.5rem; text-decoration: none; margin: auto; }
.blood_notice .list_box { display: none;}

.blood_notice .titTab li a.current { background: #f42e3d; color: #fff; }


/*오늘의 혈액 보유량*/
.blood_notice .list_box .top_wrap .tit .txt { font-size: 1.3rem; color: #000; font-weight: 600; margin-left: 300px; margin-top: 40px;}



/*날짜 기준*/
.blood_notice .list_box .top_wrap .tit span { display: inline-block; font-size: 1rem; color: #666; background: #f6f6f6;  border-radius: 1rem;  position: relative; bottom:50px; margin-left: 600px; }




/*혈액형 동그라미*/
.blood_notice .list_box .blood_list li .bloodType { width: 3.5rem; height: 3rem; line-height: 2rem; border-radius: 50%; background: #f7f7fa; color: #333; font-size: 2rem; text-align: center; margin: auto; margin-bottom: 100px; font-family: 'Montserrat'; font-weight: 600;  }

.blood_notice .list_box .blood_list li .num{
    margin-top: 80px; font-family: 'Montserrat'; font-weight: 600; font-size: 18px;
}

/*blood bar*/
.blood_notice .list_box .blood_list ul { display: table; table-layout: fixed; width: 100%;  }

.blood_notice .list_box .blood_list li { position: relative; display: table-cell;  text-align: center; }


.blood_notice .list_box .blood_list li .bloodBar { width: 200px; height: 2rem; border-radius: 2rem; margin:0; transform: rotate(-90deg); top: 0;  position: relative;     box-shadow: 0 0 10px red;
 }

/* 오늘의 혈액보유량 : active */
.blood_notice .list_box.on { display: block; }



/*--------------------------------------------------------------
# 혈액 보유량
--------------------------------------------------------------*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
