main { display: flex; width: 1200px; margin-top: 60px; margin-bottom: 100px; margin-left: 230px;




main > section { flex-grow: 1;  }

button{
    margin-top: 50px;
    text-align: center;
    height: 70px;
    width: 250px;
    float: right;

}

*{
    font-family: 'Noto Sans KR', sans-serif , 'Nunito', sans-serif;
       font-size: 16px;

        }
/*--------------------------------------------------------------
# Step box
--------------------------------------------------------------*/
#subContent { position: relative; float:left; padding-bottom: 1rem; width: calc(100% - 14rem); margin-left: 30px;}


.titleArea { position:relative; margin-bottom: 3rem;}

.titleArea::after { position: absolute; bottom: 0; left: 80px; width: 13rem; height: 2px; background: #f42e3d; content: ""; }

.titleH2 { position: relative; display: inline-block; padding: 0.95rem 0; width: calc(100% - 8rem); font-size: 1.8rem; color: #000; font-weight: bolder; margin-left: 100px; margin-top: 100px;}


.titleArea { margin-bottom: 2rem; }
.step-container{
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}


.step-card{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 240px;
    width: 250px;
    box-shadow: 0 5px 10px rgb(0,0,0, 0.1);


}




.card-content{
    position: absolute;
    width: 100%;
    height: 27%;
    border-radius: 20px 20px 0 0;
  background-color: #f7e8f7;
    text-align: center;

}




.step-box1{
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    top: 20px;

}
.step-box1::after{
    color: black;

}


.step-card .step-box2{
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-box2 li{
    margin-top: 10px;
    margin-left: 30px;
    list-style: disc;
    padding: 5px;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  height: 550px;
  position: fixed;
  top: 200px;
  left: 0;
  bottom: 0;
  width: 230px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #f7e8f7;
  border-radius: 30px;

}

.sidebar-nav .nav-item {
  margin-bottom: 5px;

}



.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: black;
  transition: 0.3;
  background-color: #f3dbf3;
  padding: 10px 15px;
  border-radius: 6px;

}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: black;
}




.sidebar-nav .nav-link:hover {
  color: #fff;
  background: red;
}

.sidebar-nav .nav-link:hover i {
  color: red;
}



.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;

}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;

}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: red;

}


/*--------------------------------------------------------------
# table
--------------------------------------------------------------*/

.table th{
    text-align: center;
    font-size: 18px;
    width: 180px;



  }

.table li{
    margin-top: 20px;


  }

.table ul,li{
        margin-top: 5px;

    }



/*마이페이지 페이지들*/
body, ul, li {
  margin: 0;
  padding: 0;


}



/*전자문진 안내*/
.terms{
    padding-left: 30px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 10px;

}
.table_terms {
           border-spacing: 0;
           width: 100%;
           border-top: 2px solid #222;
           background: #fff;

}

/*표 밑줄 */
.table_terms td,.table_terms th{
    border-bottom: 1px solid #e6e6e6;
    color: black;

}
.table_terms td{
    width: 200%;
    padding-left: 20px;

    }

.table_terms ul li {
    padding-bottom: 10px;
    list-style: disc;
    margin-left: 15px;



}

/*전자문진-상세내용*/
.survey_btm{
    width: 250%;
}
