@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
* { font-family: 'Poppins', sans-serif; color: #000; box-sizing: border-box; outline: none; }
html { font-size: 13px; }
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }

dl { display: flex; }
dt { width: 180px; }
dd { flex-grow: 1; }

#myBtn{
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
outline: none;
background: red;
color: #fff;
cursor: pointer;
padding: 15px;
border-radius: 10px;
font-size: 18px;

}

.layout_width { max-width: 1200px; min-width: 1000px; margin: 0 auto; margin-top: 60px; }

main { min-height: 700px; }

/* 페이징 공통 S */
.pagination { text-align: center; margin: 30px 0; }
.pagination .page { border: 1px solid #596b99; color: #596b99; display: inline-block; padding: 5px 10px; border-radius: 3px; background: #fff; }
.pagination .page.on { background: #596b99; color: #fff; }
.pagination .page + .page { margin-left: 3px; }
/* 페이징 공통 E */

/* 헤더 공통 S
header .site_top { background: #f8f8f8; border-bottom: 1px solid #d5d5d5; }
header .site_top > div { text-align: right; height: 30px; line-height: 30px; }
header .site_top a { margin-left: 15px; }
header .site_top a:hover { text-decoration: underline; }

header .logo_search > div { display: flex; align-items: center; justify-content: space-between; height: 100px; }
header .logo_search .search { display: flex; }


header nav > .inner a { display: inline-block; height: 45px; line-height: 45px; padding: 0 25px; min-width: 120px; text-align: center; color: #fff; font-size: 1.35rem; }
header nav > .inner a:hover { background: #222; }
*/


/* 헤더 공통 S */





/* 입력 항목 공통 S */
input[type='text'],
input[type='password'],
input[type='email'] {
        margin-top: 10px;
        width: 300px;
        height: 40px;
        padding: 0 10px;
        border: 2px solid green;
        line-height: 30px;
        border-radius: 30px;

    }


button{
  border: 2px solid #e5e6f1;

        border-radius: 10px;

}
select { height: 40px; border: 1px solid #d5d5d5; border-radius: 3px; }
/* 입력 항목 공통 E */





/*--------------------------------------------------------------
# 입력 항목 공통 Footer
--------------------------------------------------------------*/

.footer>h3{
    text-align: center;
    color: rgb(231, 92, 157);
}

.footer-container{
    border-top: 2px solid #efefef;
    overflow: auto;
}
.footer{
    width:1200px;
    margin: auto;
    padding: 20px;
    padding: 20px 0;
      font-size: 14px;
      transition: all 0.3s;
      border-top: 1px solid #cddfff;
}
.footer li{
            float: right;
            font-size: 14px;
            margin:0.3rem;
}

.footer ul a{ display: block; padding: 0 20px;
}



.footer .copyright {
  text-align: center;
  color: black;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

.footer .credits a{
    color : red;
    text-decoration: none;
}

/* 좌우 사이드 메뉴
.left_menu { z-index: 10; position: fixed; width: 200px; border: 1px solid red; left: 0; bottom: 0;  height: 100%; background: #fff; }
.right_menu { z-index: 10; position: fixed; width: 100px; border: 1px solid blue; right: 0; bottom: 0; height: 100%; background: #fff; }
*/