<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="common">

    <!--
       <aside class="left_menu">
           왼쪽
       </aside>


       <aside class="right_menu">
           오른쪽
       </aside>
       -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <h3>♥ 우리함께 헌혈해요 ♥</h3>

        <div class="footer-container">
            <div class="footer">
        <ul class="footer-logo">
            <div>
                <li>
                    <img th:src="@{/common/image/sns_blog.png}">
                </li>
                <li>
                   <img th:src="@{/common/image/sns_faceb.png}">
                </li>
                <li>
                   <img th:src="@{/common/image/sns_inst.png}">
                </li>
                <li>
                    <img th:src="@{/common/image/sns_youtube.png}">
                </li>
        </ul>
        </div>
        </div>
        </div>

        <div class="copyright">
            &copy; Copyright <strong><span>RED BANK</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="http://localhost:3000/">RED BANK</a>
        </div>
    <!-- End Footer -->

</footer>
</html>